lottery.json
[
    {
        "id": "ddf2a4f9d3832186",
        "type": "tab",
        "label": "Lottery",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "57c9205bb51f4173",
        "type": "discordMessage",
        "z": "ddf2a4f9d3832186",
        "name": "",
        "channelIdFilter": "1514216426829779028",
        "token": "",
        "x": 140,
        "y": 380,
        "wires": [
            [
                "69a12037bdf452a0",
                "7c7c53bfaaa3c78a"
            ]
        ]
    },
    {
        "id": "69a12037bdf452a0",
        "type": "debug",
        "z": "ddf2a4f9d3832186",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 480,
        "y": 360,
        "wires": []
    },
    {
        "id": "80e7fb9ac45e6227",
        "type": "rcon",
        "z": "ddf2a4f9d3832186",
        "name": "",
        "server": "2037340bb3b47cd6",
        "command": "",
        "x": 1090,
        "y": 820,
        "wires": [
            []
        ]
    },
    {
        "id": "7c7c53bfaaa3c78a",
        "type": "switch",
        "z": "ddf2a4f9d3832186",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "LT",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 270,
        "y": 480,
        "wires": [
            [
                "7f6dcae71650013f"
            ]
        ]
    },
    {
        "id": "7f6dcae71650013f",
        "type": "function",
        "z": "ddf2a4f9d3832186",
        "name": "function 2",
        "func": "msg.number = Math.floor(Math.random()* 6 - 1 + 1)+ 1\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 180,
        "y": 720,
        "wires": [
            [
                "a9e3f272fe1dce95",
                "6dc131477303eac6"
            ]
        ]
    },
    {
        "id": "a9e3f272fe1dce95",
        "type": "switch",
        "z": "ddf2a4f9d3832186",
        "name": "",
        "property": "number",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "2",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "3",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "4",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "5",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "6",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 6,
        "x": 330,
        "y": 700,
        "wires": [
            [
                "893c861cb45b44c2"
            ],
            [
                "cecae5467c8f6d79",
                "b618a2534f406ffb"
            ],
            [
                "54b22f4404b23824"
            ],
            [
                "451f38f293f7df48",
                "533ffaf81d0e0c0b"
            ],
            [
                "5e6e45aa15ca9262",
                "c6e6a7dc090c09ad"
            ],
            [
                "31d5e895fd9fad86"
            ]
        ]
    },
    {
        "id": "451f38f293f7df48",
        "type": "change",
        "z": "ddf2a4f9d3832186",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "give @a minecraft:netherite_sword",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 700,
        "y": 720,
        "wires": [
            [
                "80e7fb9ac45e6227"
            ]
        ]
    },
    {
        "id": "533ffaf81d0e0c0b",
        "type": "change",
        "z": "ddf2a4f9d3832186",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "give @a minecraft:netherite_axe",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 700,
        "y": 760,
        "wires": [
            [
                "80e7fb9ac45e6227"
            ]
        ]
    },
    {
        "id": "6dc131477303eac6",
        "type": "debug",
        "z": "ddf2a4f9d3832186",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "number",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 320,
        "y": 600,
        "wires": []
    },
    {
        "id": "54b22f4404b23824",
        "type": "change",
        "z": "ddf2a4f9d3832186",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "give @a minecraft:diamond 1000",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 700,
        "y": 640,
        "wires": [
            [
                "80e7fb9ac45e6227"
            ]
        ]
    },
    {
        "id": "cecae5467c8f6d79",
        "type": "change",
        "z": "ddf2a4f9d3832186",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "effect give @a minecraft:slowness 60 255 true",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 700,
        "y": 600,
        "wires": [
            [
                "80e7fb9ac45e6227"
            ]
        ]
    },
    {
        "id": "b618a2534f406ffb",
        "type": "change",
        "z": "ddf2a4f9d3832186",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "effect give @a minecraft:darkness 60 255 true",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 700,
        "y": 500,
        "wires": [
            [
                "80e7fb9ac45e6227"
            ]
        ]
    },
    {
        "id": "893c861cb45b44c2",
        "type": "change",
        "z": "ddf2a4f9d3832186",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "summon minecraft:warden",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 700,
        "y": 460,
        "wires": [
            [
                "80e7fb9ac45e6227"
            ]
        ]
    },
    {
        "id": "5e6e45aa15ca9262",
        "type": "change",
        "z": "ddf2a4f9d3832186",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "summon minecraft:iron_golem",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 700,
        "y": 840,
        "wires": [
            [
                "80e7fb9ac45e6227"
            ]
        ]
    },
    {
        "id": "c6e6a7dc090c09ad",
        "type": "change",
        "z": "ddf2a4f9d3832186",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "summon minecraft:snow_golem",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 700,
        "y": 880,
        "wires": [
            [
                "80e7fb9ac45e6227"
            ]
        ]
    },
    {
        "id": "31d5e895fd9fad86",
        "type": "change",
        "z": "ddf2a4f9d3832186",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 700,
        "y": 940,
        "wires": [
            [
                "80e7fb9ac45e6227"
            ]
        ]
    },
    {
        "id": "2037340bb3b47cd6",
        "type": "serverconfig",
        "host": "dosto615",
        "rconPort": 25575,
        "rconPassword": "change_me"
    },
    {
        "id": "0f3f4470c0dbc118",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-contrib-discord-advanced": "3.6.0",
            "@tomsith/node-red-contrib-minecraft": "0.7.7"
        }
    }
]