russian_roulette.json
[
    {
        "id": "ddf2a4f9d3832186",
        "type": "tab",
        "label": "Russian Roulette",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "57c9205bb51f4173",
        "type": "discordMessage",
        "z": "ddf2a4f9d3832186",
        "name": "",
        "channelIdFilter": "1393216122773307392",
        "token": "",
        "x": 140,
        "y": 380,
        "wires": [
            [
                "69a12037bdf452a0",
                "7c7c53bfaaa3c78a"
            ]
        ]
    },
    {
        "id": "69a12037bdf452a0",
        "type": "debug",
        "z": "ddf2a4f9d3832186",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 480,
        "y": 360,
        "wires": []
    },
    {
        "id": "80e7fb9ac45e6227",
        "type": "rcon",
        "z": "ddf2a4f9d3832186",
        "name": "",
        "server": "46ba04a4c14e5ec1",
        "command": "",
        "x": 1090,
        "y": 820,
        "wires": [
            []
        ]
    },
    {
        "id": "7c7c53bfaaa3c78a",
        "type": "switch",
        "z": "ddf2a4f9d3832186",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "russian roulette",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 270,
        "y": 480,
        "wires": [
            [
                "7f6dcae71650013f"
            ]
        ]
    },
    {
        "id": "7f6dcae71650013f",
        "type": "function",
        "z": "ddf2a4f9d3832186",
        "name": "function 2",
        "func": "msg.number = Math.floor(Math.random()* 6 - 1 + 1)+ 1\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 160,
        "y": 700,
        "wires": [
            [
                "a9e3f272fe1dce95",
                "6dc131477303eac6"
            ]
        ]
    },
    {
        "id": "a9e3f272fe1dce95",
        "type": "switch",
        "z": "ddf2a4f9d3832186",
        "name": "",
        "property": "number",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "2",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "3",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "4",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "5",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "6",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 6,
        "x": 330,
        "y": 700,
        "wires": [
            [
                "893c861cb45b44c2"
            ],
            [
                "cecae5467c8f6d79",
                "130abb334b303e3d",
                "b618a2534f406ffb"
            ],
            [
                "c8d9df08c6c40e21"
            ],
            [
                "54b22f4404b23824"
            ],
            [
                "451f38f293f7df48",
                "533ffaf81d0e0c0b",
                "b3a5eeb1c3e3e351"
            ],
            [
                "4faf9d326056d530",
                "81ef4070a8d4c60d",
                "e7897431476c2a1d",
                "0a8a923bba8e15a9",
                "5301e976250f1d6f",
                "42365889b537022f",
                "bc2523885220b285",
                "9d1f934d749e2a1b"
            ]
        ]
    },
    {
        "id": "451f38f293f7df48",
        "type": "change",
        "z": "ddf2a4f9d3832186",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "give TVX_Tomas minecraft:netherite_sword",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 700,
        "y": 760,
        "wires": [
            [
                "80e7fb9ac45e6227"
            ]
        ]
    },
    {
        "id": "533ffaf81d0e0c0b",
        "type": "change",
        "z": "ddf2a4f9d3832186",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "give TVX_Tomas minecraft:netherite_axe",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 700,
        "y": 800,
        "wires": [
            [
                "80e7fb9ac45e6227"
            ]
        ]
    },
    {
        "id": "b3a5eeb1c3e3e351",
        "type": "change",
        "z": "ddf2a4f9d3832186",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "give TVX_Tomas minecraft:netherite_sword",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 700,
        "y": 840,
        "wires": [
            [
                "80e7fb9ac45e6227"
            ]
        ]
    },
    {
        "id": "6dc131477303eac6",
        "type": "debug",
        "z": "ddf2a4f9d3832186",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "number",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 320,
        "y": 600,
        "wires": []
    },
    {
        "id": "54b22f4404b23824",
        "type": "change",
        "z": "ddf2a4f9d3832186",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "give TVX_Tomas minecraft:diamond 1000",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 700,
        "y": 700,
        "wires": [
            [
                "80e7fb9ac45e6227"
            ]
        ]
    },
    {
        "id": "c8d9df08c6c40e21",
        "type": "change",
        "z": "ddf2a4f9d3832186",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "kill TVX_Tomas",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 700,
        "y": 640,
        "wires": [
            [
                "80e7fb9ac45e6227"
            ]
        ]
    },
    {
        "id": "cecae5467c8f6d79",
        "type": "change",
        "z": "ddf2a4f9d3832186",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "effect give TVX_Tomas minecraft:slowness 999999 255 true",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 700,
        "y": 580,
        "wires": [
            [
                "80e7fb9ac45e6227"
            ]
        ]
    },
    {
        "id": "130abb334b303e3d",
        "type": "change",
        "z": "ddf2a4f9d3832186",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "effect give TVX_Tomas minecraft:mining_fatigue 999999 255 true",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 700,
        "y": 540,
        "wires": [
            [
                "80e7fb9ac45e6227"
            ]
        ]
    },
    {
        "id": "b618a2534f406ffb",
        "type": "change",
        "z": "ddf2a4f9d3832186",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "effect give TVX_Tomas minecraft:darkness 999999 255 true",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 700,
        "y": 500,
        "wires": [
            [
                "80e7fb9ac45e6227"
            ]
        ]
    },
    {
        "id": "893c861cb45b44c2",
        "type": "change",
        "z": "ddf2a4f9d3832186",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "summon minecraft:warden",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 700,
        "y": 440,
        "wires": [
            [
                "80e7fb9ac45e6227"
            ]
        ]
    },
    {
        "id": "9d1f934d749e2a1b",
        "type": "change",
        "z": "ddf2a4f9d3832186",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "summon tnt ~5 ~ ~",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 700,
        "y": 900,
        "wires": [
            [
                "80e7fb9ac45e6227"
            ]
        ]
    },
    {
        "id": "bc2523885220b285",
        "type": "change",
        "z": "ddf2a4f9d3832186",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "summon tnt ~3 ~ ~3",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 700,
        "y": 940,
        "wires": [
            [
                "80e7fb9ac45e6227"
            ]
        ]
    },
    {
        "id": "42365889b537022f",
        "type": "change",
        "z": "ddf2a4f9d3832186",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "summon tnt ~ ~ ~5",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 700,
        "y": 980,
        "wires": [
            [
                "80e7fb9ac45e6227"
            ]
        ]
    },
    {
        "id": "5301e976250f1d6f",
        "type": "change",
        "z": "ddf2a4f9d3832186",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "summon tnt ~-3 ~ ~3",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 700,
        "y": 1020,
        "wires": [
            [
                "80e7fb9ac45e6227"
            ]
        ]
    },
    {
        "id": "0a8a923bba8e15a9",
        "type": "change",
        "z": "ddf2a4f9d3832186",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "summon tnt ~-5 ~ ~",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 700,
        "y": 1060,
        "wires": [
            [
                "80e7fb9ac45e6227"
            ]
        ]
    },
    {
        "id": "e7897431476c2a1d",
        "type": "change",
        "z": "ddf2a4f9d3832186",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "summon tnt ~-3 ~ ~-3",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 700,
        "y": 1100,
        "wires": [
            [
                "80e7fb9ac45e6227"
            ]
        ]
    },
    {
        "id": "81ef4070a8d4c60d",
        "type": "change",
        "z": "ddf2a4f9d3832186",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "summon tnt ~ ~ ~-5",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 700,
        "y": 1140,
        "wires": [
            [
                "80e7fb9ac45e6227"
            ]
        ]
    },
    {
        "id": "4faf9d326056d530",
        "type": "change",
        "z": "ddf2a4f9d3832186",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "summon tnt ~3 ~ ~-3",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 700,
        "y": 1180,
        "wires": [
            [
                "80e7fb9ac45e6227"
            ]
        ]
    },
    {
        "id": "46ba04a4c14e5ec1",
        "type": "serverconfig",
        "host": "172.17.226.106",
        "rconPort": 25575,
        "rconPassword": "change_me"
    },
    {
        "id": "6fe9fd233744ed7b",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-contrib-discord-advanced": "3.6.0",
            "@tomsith/node-red-contrib-minecraft": "0.7.7"
        }
    }
]